.notice {
    padding: 35px;
    font-size: large;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    max-width: 85%;
}

.notice-success {
    border-color: #80D651;
}
.notice-success strong, .notice-success i {
    color: #80D651;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning strong, .notice-warning i {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger strong, .notice-danger i {
    color: #d73814;
}
.notification-request{
    margin-bottom: 20px;
}
@media (max-width: 700px) {
    .notification-request {
        display: block;
    }
}