html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.bodyContent{
    flex: 1 0 auto;
    padding-top: 150px;
}

#info {
    margin: 800px 0;
}

.divider_menu{
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 35px;
    margin-right: -3px;
}