.butt_js{
    display: none;
}

.reg_no_js {
    display: none;
}

.dettaglio-azienda-js{
    display: none;
}

.home-admin-js{
    display: none;
}

.home-studente-js{
    display: none;
}

.home-azienda-js{
    display: none;
}