target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/Internship_Tutor/nbproject/private/
/Internship_Tutor/build/
/Internship_Tutor/dist/
InternshipTutor/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_6_1.xml
InternshipTutor/.idea/compiler.xml
InternshipTutor/.idea/compiler.xml
InternshipTutor/.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_2.xml
InternshipTutor/.idea/libraries/Maven__javax_activation_activation_1_1.xml
InternshipTutor/.idea/libraries/Maven__javax_javaee_web_api_7_0.xml
InternshipTutor/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
InternshipTutor/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_18.xml
InternshipTutor/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_21.xml
InternshipTutor/.idea/libraries/Maven__org_apache_tomcat_tomcat_annotations_api_9_0_21.xml
InternshipTutor/.idea/libraries/Maven__org_freemarker_freemarker_2_3_28.xml
InternshipTutor/.idea/libraries/Maven__org_jasypt_jasypt_1_9_3.xml
InternshipTutor/.idea/libraries/Maven__org_webjars_bootstrap_4_3_1.xml
InternshipTutor/.idea/libraries/Maven__org_webjars_jquery_3_0_0.xml
InternshipTutor/.idea/libraries/Maven__org_webjars_popper_js_1_14_3.xml
InternshipTutor/.idea/workspace.xml
