<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>uploads.directory</param-name>
        <!-- Tomcat must have write permissions on this folder -->
        <param-value>uploads</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Stefano Florio</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Upload</servlet-class>
        <multipart-config>
            <!--
            <location>/tmp</location> temporary files location (DEF: "") -->
            <max-file-size>20848820</max-file-size>
            <!-- max size of accepted uploadd (DEF: unlimited!) -->
            <max-request-size>418018841</max-request-size>
            <!-- max size of multipart requests (may contain more files or data) (DEF: ulimited!) -->
            <!-- <file-size-threshold>1048576</file-size-threshold> max size of files to hold in memory (without writing to temporary disk file) (DEF: 0) -->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListaAziende</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.ListaAziende</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaAziende</servlet-name>
        <url-pattern>/aziende</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DettaglioAzienda</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.DettaglioAzienda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DettaglioAzienda</servlet-name>
        <url-pattern>/azienda</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RichiestaTirocinio</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.RichiestaTirocinio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RichiestaTirocinio</servlet-name>
        <url-pattern>/richiesta_tirocinio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RicercaTirocini</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.RicercaTirocini</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RicercaTirocini</servlet-name>
        <url-pattern>/tirocini</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Registrazione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/registrazione</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Documenti</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Documenti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Documenti</servlet-name>
        <url-pattern>/docs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RichiesteConvenzione</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.RichiesteConvenzione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RichiesteConvenzione</servlet-name>
        <url-pattern>/richieste_convenzione</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GestioneTirocini</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.GestioneTirocini</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestioneTirocini</servlet-name>
        <url-pattern>/gestione_tirocini</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GestioneCandidature</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.GestioneCandidature</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestioneCandidature</servlet-name>
        <url-pattern>/gestione_candidati</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DettaglioCandidatura</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.DettaglioCandidatura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DettaglioCandidatura</servlet-name>
        <url-pattern>/dettaglio_candidatura</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompilaResoconto</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.CompilaResoconto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompilaResoconto</servlet-name>
        <url-pattern>/compila_resoconto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreaOffertaTirocinio</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.CreaOffertaTirocinio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreaOffertaTirocinio</servlet-name>
        <url-pattern>/crea_offerta_tirocinio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DettagliTirocinio</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.DettagliTirocinio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DettagliTirocinio</servlet-name>
        <url-pattern>/dettagli_tirocinio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/itdb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
