<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Stefano Florio</param-value>
    </context-param>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListaAziende</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.ListaAziende</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaAziende</servlet-name>
        <url-pattern>/aziende</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DettaglioAzienda</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.DettaglioAzienda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DettaglioAzienda</servlet-name>
        <url-pattern>/azienda</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>RichiestaTirocinio</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.RichiestaTirocinio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RichiestaTirocinio</servlet-name>
        <url-pattern>/richiesta_tirocinio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RicercaTirocini</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.RicercaTirocini</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RicercaTirocini</servlet-name>
        <url-pattern>/tirocini</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Registrazione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/registrazione</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.univaq.ingweb.internshiptutor.controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/itdb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
