<div class="container">
    
    <!-- Dati Studente -->
    
    <div class="p-3 mb-3 bg-light text-center">
        <span class="lead">Dati Studente</span>
        <div class="row my-2">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Nome</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.nome}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Cognome</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.cognome}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">CF</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.CF}" class="form-control">
                </div>
            </div>
            
        </div>
        
        <div class="row mb-2">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Nato a</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.cittaNascita}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">in Provincia di</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.provinciaNascita}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">in Data</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.dataNascita}" class="form-control">
                </div>
            </div>
            
        </div>
        
        <div class="row mb-2">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Residente a</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.cittaResidenza}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">CAP</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.capResidenza}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">in Provincia di</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.provinciaResidenza}" class="form-control">
                </div>
            </div>
            
        </div>
        
        <div class="row mb-2">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Num. Telefono</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.telefono}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Handicap</span>
                    </div>
                    <#if candidatura.studente.handicap == true>
                    <input readonly type="text" value="Si" class="form-control">
                    <#else>
                    <input readonly type="text" value="No" class="form-control">
                    </#if>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Corso di Laurea</span>
                    </div>
                    <input readonly type="text" value="${candidatura.studente.corsoLaurea}" class="form-control">
                </div>
            </div>
            
        </div>             
    </div>   
    
    
    
    <div class="p-3 mb-3 bg-light text-center">
        <span class="lead">Dati Richiesta</span>
        <div class="row my-2">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Cfu richiesti</span>
                    </div>
                    <input readonly type="text" value="${candidatura.cfu}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Diploma</span>
                    </div>
                    <#if candidatura.studente.diploma??>
                    <input readonly type="text" value="${candidatura.studente.diploma}" class="form-control">
                    <#else>
                    <input readonly type="text" value="Non inserito" class="form-control">
                    </#if>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Laurea</span>
                    </div>
                    <#if candidatura.studente.laurea??>
                    <input readonly type="text" value="${candidatura.studente.laurea}" class="form-control">
                    <#else>
                    <input readonly type="text" value="Non inserito" class="form-control">
                    </#if>
                </div>
            </div>
            
        </div>
        
        <div class="row mb-2">                    
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Dott. di Ricerca</span>
                    </div>
                    <#if candidatura.studente.dottoratoRicerca??>
                    <input readonly type="text" value="${candidatura.studente.dottoratoRicerca}" class="form-control">
                    <#else>
                    <input readonly type="text" value="Non inserito" class="form-control">
                    </#if>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Specializzazione</span>
                    </div>
                    <#if candidatura.studente.specializzazione??>
                    <input readonly type="text" value="${candidatura.studente.specializzazione}" class="form-control">
                    <#else>
                    <input readonly type="text" value="Non inserito" class="form-control">
                    </#if>
                </div>
            </div>
            
        </div>
        
    </div>      
    
    
    <!-- Dati Tutore Universitario -->
    
    <div class="p-3 mb-3 bg-light text-center">
        <span class="lead">Dati Tutore Universitario</span>
        <div class="row my-2">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Nome e Cognome</span>
                    </div>
                    <input readonly type="text" value="${candidatura.tutoreUni.nome} ${candidatura.tutoreUni.cognome}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Email</span>
                    </div>
                    <input readonly type="text" value="${candidatura.tutoreUni.email}" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Telefono</span>
                    </div>
                    <input readonly type="text" value="${candidatura.tutoreUni.telefono}" class="form-control">
                </div>
            </div>
            
            
        </div>
    </div>      
    
    
    <#switch candidatura.statoCandidatura>
    <#case 0>
    <!-- Dati aggiunti dall'azienda --> 
    <div class="p-3 mb-3 bg-light text-center">
        <form method="post" action="dettaglio_candidatura">
            <input type="hidden" name="tipo" value="salva_date"/>
            <input type="hidden" name="st" value="${candidatura.studente.utente.id}" />
            <input type="hidden" name="ot" value="${candidatura.offertaTirocinio.id}" />
            
            
            <span class="lead">Gestione richiesta</span>
            <div class="row my-2">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="bg-primary text-white input-group-text">Inizio tirocinio</span>
                        </div>
                        <input name="inizio_tirocinio" onfocus="(this.type='date')" type="text" value="${candidatura.inizioTirocinio!}" required class="form-control">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="bg-primary text-white input-group-text">Fine tirocinio</span>
                        </div>
                        <input name="fine_tirocinio" onfocus="(this.type='date')" type="text" value="${candidatura.fineTirocinio!}" required class="form-control">
                    </div>
                </div>
                
                <div class="col-md-4">
                    
                    <button type="submit" name="submit" value="dettaglio_candidatura" class="btn btn-success text-white">
                        <span>Salva data di effettuazione</span>
                    </button>
                    
                    <a style="text-decoration: none;" target="_blank" href="docs?tipo=1&st=${candidatura.studente.utente.id}&ot=${candidatura.offertaTirocinio.id}">
                        <button type="button" class="btn btn-primary text-white">
                            <i class="fa fa-file-download"></i>
                        </button>
                    </a>
                    
                </div>
                
                
            </div>
            
        </form>
        
        <div class="row my-2 mt-5">
            
            <div class="col-md-6 text-right">
                <form method='post' action='upload' enctype='multipart/form-data'>
                    <input type="hidden" name="st" value="${candidatura.studente.utente.id}" />
                    <input type="hidden" name="ot" value="${candidatura.offertaTirocinio.id}" />
                    <input name="tipo" type="hidden" value="candidatura" />
                    <input type='file' name='candidaturatoupload'/>
                    <button type='submit' name='submit' value='upload' disabled class="btn bg-success text-white">
                        Accetta richiesta
                    </button>
                    
                </form>
                
            </div>
            
            <div class="col-md-6 text-left">
                <button type="button" title="Respingi la richiesta" class="btn bg-danger text-white butt_js" data-toggle="modal" data-target="#rejectModal">
                    Rifiuta richiesta
                </button>  
                
                <!-- Modal -->
                <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white">
                                <h5 class="modal-title" id="exampleModalLabel">Attenzione</h5>
                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            
                            <div class="modal-body">
                                Vuoi davvero rifiutare la richiesta dello studente ${(candidatura.studente.nome)!"Nome"} ${(candidatura.studente.cognome)!"Cognome"}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a href="gestione_candidati?convalida=no&ot=${candidatura.offertaTirocinio.id}&st=${candidatura.studente.utente.id}">
                                    <button type="button" class="btn bg-danger text-white">S&iacute;</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <#break>
    
    <#case 1>
    <div class="p-3 mb-3 bg-light text-center">
        <span class="lead">Date di effettuazione del tirocinio</span>
        <div class="row my-2">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Inizio tirocinio</span>
                    </div>
                    <input name="inizio_tirocinio" onfocus="(this.type='date')" type="text" value="${candidatura.inizioTirocinio!}" readonly class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="bg-primary text-white input-group-text">Fine tirocinio</span>
                    </div>
                    <input name="fine_tirocinio" onfocus="(this.type='date')" type="text" value="${candidatura.fineTirocinio!}" readonly class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <form method="get" action="download">
                    <input name="tipo" type="hidden" value="candidatura" />
                    <input style="width: 150px" readonly name="res" value="${candidatura.srcDocCandidatura!}"/>
                    <button type="submit" name="submit" value="download_candidatura" class="btn btn-primary text-white">
                        <i class="fa fa-file"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <#break>
    </#switch>
    
</div>

<script>
    $(document).ready(function() {
        $("input[name='candidaturatoupload']").change(function(){
            if ($(this).val())
            {
                $("button[name='submit']").removeAttr('disabled');
            }
        });
    } );
</script>
