<div class="container">

    <div class="card shadow rounded">
        <h5 class="card-header text-center">${tirocinio.titolo}</h5>
        <div class="card-body">
            <div class="row">

                <div class="col-10 mx-auto col-md-5 card border-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-briefcase pr-2"></i><strong>Azienda:</strong> ${tirocinio.azienda.ragioneSociale}</li>
                            <li class="list-group-item"><i class="far fa-building pr-2"></i><strong>Settore:</strong> ${tirocinio.settore}</li>
                            <li class="list-group-item"><i class="fas fa-map-marker-alt pr-2"></i><strong>Luogo:</strong> ${tirocinio.luogo}</li>
                            <li class="list-group-item"><i class="fas fa-user pr-2"></i><strong>Tutore Universitario:</strong> ${tirocinio.tutoreTirocinio.nome} ${tirocinio.tutoreTirocinio.cognome}</li>
                        </ul>
                </div>

                <div class="col-10 mx-auto col-md-5 card border-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="far fa-clock pr-2"></i><strong>Orari:</strong> ${tirocinio.orari!"Non specificato"}</li>
                        <li class="list-group-item"><i class="fas fa-hourglass-start pr-2"></i><strong>Durata:</strong> ${tirocinio.durata}</li>
                        <li class="list-group-item"><i class="fas fa-hands-helping pr-2"></i><strong>Facilitazioni:</strong> ${tirocinio.facilitazioni!"Non specificato"}</li>
                        <li class="list-group-item"><i class="fas fa-power-off pr-2"></i><strong>Attivo:</strong> ${attivo}</li>
                    </ul>
                </div>

            </div>

            <div class="card border-bottom-0 border-left-0 border-right-0 text-center mt-5">
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-money-check fa-xs pr-2"></i> Modalità</h4>
                <p class="card-text">${tirocinio.modalita}</p>
            </div>
            </div>

            <div class="card border-bottom-0 border-left-0 border-right-0 text-center mt-3">
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-crosshairs fa-sm pr-2"></i> Obiettivi</h4>
                <p class="card-text">${tirocinio.obiettivi}</p>
            </div>
            </div>

        </div>
    </div>

        
        <#if isAttiva?has_content>
        <div class="row mb-6" style="margin-top: 45px">
            <div class="col text-center">
                <a class="btn btn-primary" style="border-radius: 20px; width: 30vw" href="richiesta_tirocinio?n=${tirocinio.id}">
                    <i class="fas fa-share pr-2"></i>
                    <span>Richiedi tirocinio</span>
                </a>
            </div>
        </div>
        </#if>
    
</div>


