<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Errore</title>
        <link rel="stylesheet" href="style/default.css" type="text/css"/>
        <!-- bootstrap -->
        <#include "/bootstrap.ftl.html">
    </head>
    <body>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-8 mx-auto">
                    <div class="jumbotron text-center">
                        <h1 class="display-4">${error_title!"Errore"}</h1>
                        <p class="lead">${error_message!"Errore generico"}</p>
                        <hr class="my-4">
                            <p>Usa il tasto indetro del tuo browser per navigare alla pagina precedente o clicca sul pulsante per tornare alla Home.</p>
                            <p class="lead">
                                <a href="home" class="btn btn-lg btn-primary">Home&nbsp;&nbsp;<i class="fas fa-home"></i></a>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
