<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-4">
                <h5>Quick links</h5>
                <dl class="quick-links">
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;Home</a></dt>
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;About</a></dt>
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;FAQ</a></dt>
                </dl>
            </div>
            <div class="col-4">
                <h5>Quick links</h5>
                <dl class="quick-links">
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;Home</a></dt>
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;About</a></dt>
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;FAQ</a></dt>
                </dl>
            </div>
            <div class="col-4">
                <h5>Quick links</h5>
                <dl class="quick-links">
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;Home</a></dt>
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;About</a></dt>
                    <dt><a href="#"><i class="fa fa-angle-double-right"></i>&nbsp;FAQ</a></dt>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>Copyright &copy; 2019 FreeAreYellow. Page compiled on ${compiled_on?datetime}</p>
            </div>
        </div>
    </div>
</footer>