<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-12">
                <h5>Area pubblica</h5>
                <dl class="quick-links">
                    <dt><a href="home"><i class="fa fa-angle-double-right"></i>&nbsp;Home</a></dt>
                    <dt><a href="aziende"><i class="fa fa-angle-double-right"></i>&nbsp;Aziende</a></dt>
                    <dt><a href="tirocini"><i class="fa fa-angle-double-right"></i>&nbsp;Tirocini</a></dt>
                </dl>
            </div>
            <div class="col-md-4 col-12">
                <h5>Accesso</h5>
                <dl class="quick-links">
                    <dt><a href="login"><i class="fa fa-angle-double-right"></i>&nbsp;Login</a></dt>
                    <dt><a href="registrazione?tipo=azienda"><i class="fa fa-angle-double-right"></i>&nbsp;Registrazione azienda</a></dt>
                    <dt><a href="registrazione?tipo=studente"><i class="fa fa-angle-double-right"></i>&nbsp;Registrazione studente</a></dt>
                </dl>
            </div>
            <div class="col-md-4 col-12">
                <h5>Contatti</h5>
                <dl class="quick-links">
                    <dt><a class="contacts_footer" href="#"><i class="fas fa-map-pin"></i>&nbsp;Via Vetoio, 67100 Coppito (AQ)</a></dt>
                    <dt><a class="contacts_footer" href="#"><i class="far fa-envelope"></i>&nbsp;it.internshiptutor@gmail.com</a></dt>
                    <dt><a class="contacts_footer" href="#"><i class="fas fa-phone"></i>&nbsp;+393314726127</a></dt>
                </dl>
            </div>
 
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>Copyright &copy; 2019 Univaq. Page compiled on ${compiled_on?datetime}</p>
            </div>
        </div>
    </div>
</footer>