<div class="container-fluid table-responsive-lg mt-3">
    <div class="row mb-3">
        <div class="col mx-2 py-2 text-center">
            <h2><i class="fas fa-briefcase mr-2"></i>${nome_tirocinio!"Titolo Tirocinio"}</h2>
        </div>
    </div>
    <div class="row mb-5">
        
        <#if (richieste_cand?size>0)>
        <!-- colonna 1 -->
        <div class="col bg-light mx-2 py-2 tabData">
            <h4>Candidature</h4> <br>
            <table class="table table-hover nowrap" id="myTableCand">
                <!--Table head-->
                
                <thead>
                    <tr class="bg-primary">
                        <th class="text-white">Data richiesta</th>
                        <th class="text-white">Studente</th>
                        <th class="text-white">Corso di laurea</th>
                        <th class="text-white">Cfu richiesti</th>
                        <th class="text-white">Tutore Universitario</th>
                        <th class="text-white">Azioni</th>
                        
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <#list richieste_cand as richiesta_cand>
                    <tr>

                        <td>${richiesta_cand.tms}</td>
                        <td>
                            <a href="profilo?visualize=true&prof=${richiesta_cand.studente.utente.id}">
                                ${richiesta_cand.studente.nome} ${richiesta_cand.studente.cognome}
                            </a>
                        </td>
                        <td>${richiesta_cand.studente.corsoLaurea}</td>
                        <td>${richiesta_cand.cfu}</td>
                        <td>${richiesta_cand.tutoreUni.nome} ${richiesta_cand.tutoreUni.cognome}</td>
                        <td>
                            <a data-toggle="tooltip" data-placement="right" title="Vedi dettagli" class="btn btn-primary text-white" href="dettaglio_candidatura?st=${richiesta_cand.studente.utente.id}&ot=${richiesta_cand.offertaTirocinio.id}">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    </#list>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
        
        <#else>
        <div class="col bg-light mx-2 py-4 text-center">
            <span class="lead">Non ci sono candidature in attesa di essere visualizzate</span>
        </div>
        </#if>
    </div>
    
    <div class="row">
        <#if (cand_accettate?size>0)>
        <!-- colonna 2 -->
        <div class="col bg-light py-2 mx-2 mt-2 tabData tabDouble">
            <h4>Tirocinanti attivi</h4> <br>
            <table class="table table-hover nowrap" id="myTableCandAcc">
                <!--Table head-->
                <thead>
                    <tr class="bg-primary">
                        <th class="text-white">Tirocinante</th>
                        <th class="text-white">Data inizio</th>
                        <th class="text-white">Data fine</th>
                        <th class="text-white">Azioni</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <#list cand_accettate as cand_accettata>
                    <tr>
                        
                        <td>
                            <a href="profilo?visualize=true&prof=${cand_accettata.studente.utente.id}">
                                ${cand_accettata.studente.nome} ${cand_accettata.studente.cognome}
                            </a>
                        </td>
                        <td>${cand_accettata.inizioTirocinio}</td>
                        <td>${cand_accettata.fineTirocinio}</td>
                        <td>
                            <a data-toggle="tooltip" data-placement="right" title="Vedi dettagli" class="btn btn-primary text-white" href="dettaglio_candidatura?st=${cand_accettata.studente.utente.id}&ot=${cand_accettata.offertaTirocinio.id}">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                        
                    </tr>
                    </#list>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
        <#else>
        <div class="col bg-light mx-2 py-4 text-center mt-2 tabDouble">
            <span class="lead">Non ci sono tirocinanti in corso</span>
        </div>
        </#if>
        
        <#if (tiro_terminati?size>0)>
        <!-- colonna 2 -->
        <div class="col bg-light py-2 mx-2 mt-2 tabData tabDouble">
            <h4>Resoconti</h4> <br>
            <table class="table table-hover nowrap" id="myTableCandTer">
                <!--Table head-->
                <thead>
                    <tr class="bg-primary">
                        <th class="text-white">Tirocinante</th>
                        <th class="text-white">Data inizio</th>
                        <th class="text-white">Data fine</th>
                        <th class="text-white">Azioni</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <#list tiro_terminati as tiro_terminato>
                    <tr>
                        
                        <td>
                            <a href="profilo?visualize=true&prof=${tiro_terminato.studente.utente.id}">
                                ${tiro_terminato.studente.nome} ${tiro_terminato.studente.cognome}
                            </a>
                        </td>
                        <td>${tiro_terminato.inizioTirocinio}</td>
                        <td>${tiro_terminato.fineTirocinio}</td>
                        <td> 
                            <a data-toggle="tooltip" data-placement="right" title="Compila resoconto" class="btn btn-primary text-white" href="compila_resoconto?st=${tiro_terminato.studente.utente.id}&ot=${tiro_terminato.offertaTirocinio.id}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            
                            <a data-toggle="tooltip" data-placement="right" title="Vedi dettagli" class="btn btn-primary text-white" href="dettaglio_candidatura?st=${tiro_terminato.studente.utente.id}&ot=${tiro_terminato.offertaTirocinio.id}">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                        
                    </tr>
                    </#list>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
        <#else>
        <div class="col bg-light mx-2 py-4 text-center mt-2 tabDouble">
            <span class="lead">Non ci sono tirocinanti che hanno concluso il tirocinio</span>
        </div>
        </#if>
    </div>
</div>

<script>$(document).ready(function() {
    $('#myTableCand').DataTable( {
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "language":{
                        url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Italian.json"
                    }
    } );

    $('#myTableCandAcc').DataTable( {
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "language":{
                        url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Italian.json"
                    }
    } );
    
    $('#myTableCandTer').DataTable( {
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "language":{
                        url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Italian.json"
                    }
    } );
} );
</script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

