<!--Table-->
<div class="container-fluid table-responsive-lg mt-3">
    <div class="row">
        
        <!-- colonna 1 -->
        <div class="col bg-light mx-2">
            <#if (az_registrate?size>0)>
            <table id="tabRichieste" class="table table-hover">
            <!--Table head-->
            <caption style="caption-side: top">Richieste di convenzionamento</caption>
            <thead>
                    <tr class="bg-primary">
                        <th class="text-white">Azienda</th>
                        <th class="text-white">Richiesta</th>
                        <th class="text-white">Upload</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr>
                        <#list az_registrate as az_registrata>
                        <td>${az_registrata.ragioneSociale}</td>
                        <td><a href="docs?tipo=0&az=${az_registrata.utente.id}">
                                <button type="button" class="btn btn-primary text-white">
                                    <i class="fa fa-file-download"></i>
                                </button>
                            </a>
                            <button type="button" title="Respingi la richiesta" class="btn bg-danger text-white">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary text-white">
                                <i class="fa fa-file-upload"></i>
                            </button>
                            <button type="button" class="btn bg-success text-white">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                        </#list>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>
            
            <#else>
            <span class="lead">Non ci sono richieste di convenzionamento da visualizzare</span>
            </#if>
            
            <!--Table-->
        </div>
        
        <!-- colonna 2 -->
        <div class="col bg-light mx-2">
            <#if (az_convenzionate?size>0)>
            <table id="tabRichieste" class="table table-hover">
            <!--Table head-->
            <caption style="caption-side: top">Aziende convenzionate</caption>
            <thead>
                    <tr class="bg-primary">
                        <th class="text-white">Azienda</th>
                        <th class="text-white">Attiva dal</th>
                        <th class="text-white">Durata (mesi)</th>
                        <th class="text-white">Documento</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr>
                        <#list az_convenzionate as az_convenzionata>
                        <td>${az_convenzionata.ragioneSociale}</td>
                        <td>${az_convenzionata.inizioConvenzione}</td>
                        <td>${az_convenzionata.durataConvenzione}</td>
                        <td>
                            <button type="button" class="btn btn-primary text-white">
                                <i class="fa fa-file"></i>
                            </button>
                        </td>
                        </#list>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>
            
            <#else>
            <span class="lead">Non ci sono aziende attualmente convenzionate</span>
            </#if>
            <!--Table-->
        </div>
    </div>
</div>