

<div class="jumbotron container">
    <h1 class="display-4">Benvenuto</h1>
    <p class="lead">Internship Tutor ha l'obiettivo di favorire il contatto tra l'università, gli studenti e le aziende interessate alla realizzazione dei tirocini.</p>
    <hr class="my-4">
    <p>Attraverso il servizio online dell'ateneo potrai consultare l'elenco di tutte le strutture convenzionate, presso le quali svolgere il tirocinio</p>
    <a class="btn btn-primary btn-lg click_to_scroll" href="#info" role="button">Esplora</a>
</div>


<div id="info">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>



<div>

    <a href="registrazione?tipo=azienda">Convenzionamento azienda</a>
    <a href="registrazione?tipo=studente">Registrazione studente</a>
</div>

<script src="js/scroll.js">
</script>
