<!--Table-->
<div class="container-fluid table-responsive-lg mt-3">
    <#switch azienda.statoConvenzione>
        <#case 0>
        <div class="container bg-light p-4 text-center">
            <span class="lead">Azienda non abilitata: attenda che l'admin visioni la sua richiesta di convenzionamento</span>
        </div>
        <#break>
        
        <#case 1>
        <div class="row">

            <#if (ot_attive?size>0)>
            <!-- colonna 1 -->
            <div class="col-8 bg-light mx-2">
                <table class="table table-hover">
                    <!--Table head-->
                    <caption style="caption-side: top">Offerte di tirocinio attive</caption>
                    <thead>
                        <tr class="bg-primary">
                            <th class="text-white">Titolo</th>
                            <th class="text-white">Luogo</th>
                            <th class="text-white">Durata</th>
                            <th class="text-white">Gestione</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        <#list ot_attive as ot_attiva>
                        <tr>

                            <td>
                                <span class="mr-1">${ot_attiva.titolo}</span>
                                <a style="text-decoration: none;" href="gestione_candidati?ot=${ot_attiva.id}">
                                    <button type="button" class="btn btn-primary text-white">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </a>
                            </td>
                            <td>${ot_attiva.luogo}</td>
                            <td>${ot_attiva.durata}</td>
                            <td>                      
                                <a href="gestione_tirocini?ot=${ot_attiva.id}&action=disattiva">
                                    <button type="button" class="btn bg-danger text-white">Disattiva</button>
                                </a>
                            </td>

                        </tr>
                        </#list>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
            <#else>
            <div class="col-8 bg-light mx-2 pt-4 text-center">
                <span class="lead">Non ci sono offerte di tirocinio attive</span>
            </div>
            </#if>

            <#if (ot_disattive?size>0)>
            <!-- colonna 2 -->
            <div class="col bg-light mx-2">
                <table class="table table-hover">
                <!--Table head-->
                <caption style="caption-side: top">Offerte di tirocinio disattive</caption>
                <thead>
                        <tr class="bg-primary">
                            <th class="text-white">Titolo</th>
                            <th class="text-white">Gestione</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        <#list ot_disattive as ot_disattiva>
                        <tr>
                            <td>
                                <span class="mr-1">${ot_disattiva.titolo}</span>
                                <a style="text-decoration: none;" href="gestione_candidati?ot=${ot_disattiva.id}">
                                    <button type="button" class="btn btn-primary text-white">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </a>
                            </td>
                            <td>                      
                                <a href="gestione_tirocini?ot=${ot_disattiva.id}&action=attiva">
                                    <button type="button" class="btn bg-success text-white">Attiva</button>
                                </a>
                            </td>
                        </tr>
                        </#list>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>

            <#else>
            <div class="col bg-light mx-2 pt-4 text-center">
                <span class="lead">Non ci sono offerte di tirocinio disattive</span>
            </div>
            </#if>
   
        </div>
        <#break>
        
        <#case 2>
        <div class="container bg-light p-4 text-center">
            <span class="lead">L'amministratore ha rifiutato la vostra richiesta di convenzione</span>
        </div>
        <#break>
        
        <#case 3>
        <div class="container bg-light p-4 text-center">
            <span class="lead">La convenzione con il DISIM è scaduta</span>
        </div>
        <#break>
    </#switch>
        
</div>