<h1>Questa &egrave la dashboard dell'admin</h1>
<!--Table-->
<div class="container">
    <#if (az_registrate?size>0)>
    <table id="tabRichieste" class="table table-hover">
    <!--Table head-->
        <thead>
            <tr>
                <th>Azienda</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            <tr>
                <#list az_registrate as az_registrata>
                <th>${az_registrata.ragioneSociale}</th>
                </#list>
            </tr>

        </tbody>
        <!--Table body-->
    </table>
    </#if>
    <!--Table-->
</div>