<noscript>
    <style>
        button.butt_js {
            visibility: hidden!important;
        }

        a.a_no_js {
            color: white!important;
        }
        a.a_no_js:hover {
            color: white!important;
        }
    </style>
</noscript>

<div class="container-fluid table-responsive-lg mt-3">
    <div class="row">
        
        <#if (az_registrate?size>0)>
        <!-- colonna 1 -->
        <div class="col bg-light mx-2 py-2">
            <h4>Richieste di convenzionamento</h4> <br>
            <table class="table table-hover" id="myTableConv">
            <!--Table head-->

            <thead>
                    <tr class="bg-primary">
                        <th class="text-white">Azienda</th>
                        <th class="text-white">Richiesta</th>
                        <th class="text-white">Upload</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <#list az_registrate as az_registrata>
                    <tr>

                        <td>${az_registrata.ragioneSociale}</td>
                        <td>
                            <a style="text-decoration: none;" target="_blank" href="docs?tipo=0&az=${az_registrata.utente.id}">
                                <button type="button" class="btn btn-primary text-white">
                                    <i class="fa fa-file-download"></i>
                                </button>
                            </a>

                            <noscript>
                                <button type="button" title="Respingi la richiesta" class="btn bg-danger text-white butt_nojs">
                                    <a class="a_no_js" href="richieste_convenzione?convalida=no&az=${az_registrata.utente.id}"><i class="fas fa-trash-alt"></i></a>
                                </button>
                            </noscript>
                            <button type="button" title="Respingi la richiesta" class="btn bg-danger text-white butt_js" data-toggle="modal" data-target="#rejectModal">
                                <i class="fas fa-trash-alt"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title" id="exampleModalLabel">Attenzione</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Vuoi davvero rifiutare la richiesta dell'azienda ${(az_registrata.ragioneSociale)!"vuoto"}?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    <a href="richieste_convenzione?convalida=no&az=${az_registrata.utente.id}">
                                        <button type="button" class="btn bg-danger text-white">S&iacute;</button>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </td>
                        <td>
                            <form method='post' action='upload?az=${az_registrata.utente.id}' enctype='multipart/form-data'>
                                <input name="tipo" type="hidden" value="convenzione" />
                                <input type='file' name='convenzionetoupload'/>                         
                          
                                <button type='submit' name='submit' value='upload' disabled class="btn bg-success text-white">
                                    <i class="fas fa-file-upload"></i>
                                </button>
                            </form>
                        </td>

                    </tr>
                    </#list>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

        <#else>
        <div class="col bg-light mx-2 pt-4 text-center">
            <span class="lead">Non ci sono richieste di convenzionamento da visualizzare</span>
        </div>
        </#if>
        
        <#if (az_convenzionate?size>0)>
        <!-- colonna 2 -->
        <div class="col bg-light py-2 mx-2">
            <h4>Aziende convenzionate</h4> <br>
            <table class="table table-hover" id="myTableConvAz">
            <!--Table head-->
            <thead>
                    <tr class="bg-primary">
                        <th class="text-white">Azienda</th>
                        <th class="text-white">Attiva dal</th>
                        <th class="text-white">Durata (mesi)</th>
                        <th class="text-white">Documento</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <#list az_convenzionate as az_convenzionata>
                    <tr>
                        
                        <td>${az_convenzionata.ragioneSociale}</td>
                        <td>${az_convenzionata.inizioConvenzione}</td>
                        <td>${az_convenzionata.durataConvenzione}</td>
                        <td>
                            <form method="get" action="download">
                                <input name="tipo" type="hidden" value="convenzione" />
                                <input width="60px" readonly name="res" value="${az_convenzionata.srcDocConvenzione}"/>
                                <button type="submit" name="submit" value="download_convenzione" class="btn btn-primary text-white">
                                    <i class="fa fa-file"></i>
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                    </#list>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
        <#else>
        <span class="lead">Non ci sono aziende attualmente convenzionate</span>
        </#if>
    </div>
</div>

<script>$(document).ready(function() {
    $('#myTableConv').DataTable( {
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    } );

    $('#myTableConvAz').DataTable( {
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    } );
} );
</script>

<script>
    $(document).ready(function() {
        $("input[name='convenzionetoupload']").change(function(){
          if ($(this).val())
          {
            $("button[name='submit']").removeAttr('disabled');
          }
        });
    } );
</script>