<#if MSG?has_content> <!-- check if content exist and is not empty -->
<div class="container">
    <div class="alert alert-${alert} alert-dismissible } fade show" role="alert">
        <i class="${ICON}"></i>&nbsp;&nbsp;&nbsp;
        ${MSG}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
</#if>

<div class="jumbotron container" style="margin-top: 7vh">
    <h1 class="display-4">Benvenuto</h1>
    <p class="lead">Internship Tutor ha l'obiettivo di favorire il contatto tra l'universit&aacute;, gli studenti e le aziende interessate alla realizzazione dei tirocini.</p>
    <hr class="my-4">
    <p>Attraverso il servizio online dell'ateneo potrai consultare l'elenco di tutte le strutture convenzionate, presso le quali svolgere il tirocinio</p>
    <a class="btn btn-primary btn-lg click_to_scroll" href="#info" role="button">Esplora</a>
</div>


<div id="info">
    <div class="row">
        <div class="col-lg-5 mx-auto col-md-10 block">
            <div class="card b-s">
                <div class="card-header text-center bg-primary text-white">
                    Sei uno studente?
                </div>
                <div class="card-body">

                    <div class="container" style="margin-top: 30px">
                        <ul class="timeline">
                            <li class="timeline-inverted">
                                <div class="timeline-badge"><i class="fas fa-user-plus"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Registrati come studente</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Inserisci le tue informazioni personali, dopodichè effettua l'accesso con le credenziali inserite</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge"><i class="fas fa-handshake"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Visualizza le offerte di tirocinio</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Naviga tra le offerte di tirocinio delle aziende convenzionate e candidati per quella più adatta alle tue esigenze; lo stato delle tue richieste sarà visibile nella tua dashboard personale</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge"><i class="far fa-clock"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Partecipa e concludi</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Prendi parte ai tirocini ai quali sei stato ammesso; una volta terminato, potrai scaricare il resoconto compilato dall'azienda</p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="text-center" style="margin-top: 35px">
                            <a href="registrazione?tipo=studente" class="btn btn-primary">Registrati&nbsp;&nbsp;<i class="fas fa-user-graduate"></i></a>
                        </div>
                    </div>

                </div>
            </div>
    </div>

    <div class="col-lg-5 mx-auto col-md-10 block">
        <div class="card b-s">
            <div class="card-header text-center bg-primary text-white">
                Sei una Azienda?
            </div>
            <div class="card-body">

                <div class="container" style="margin-top: 30px">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-badge"><i class="fas fa-user-plus"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Registrati come azienda</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Inserisci i dati della tua azienda per effettuare una richiesta di convenzione e attendi che l'admin gestisca la tua richiesta; una volta abilitata l'azienda potrai eseguire l'accesso con le credenziali inserite</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge"><i class="fas fa-handshake"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Crea offerte di tirocinio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Popola la bacheca con offerte di tirocinio per gli studenti, indicando tutte le informazioni necessarie</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge"><i class="far fa-clock"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Gestisci i tirocinanti</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Nella dashboard è possibile gestire tutte le proprie offerte di tirocinio, le richieste degli studenti e compilare i resoconti finali</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="text-center" style="margin-top: 35px">
                        <a href="registrazione?tipo=azienda" class="btn btn-primary">Registrati&nbsp;&nbsp;<i class="fas fa-briefcase"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>

<script src="js/scroll.js"></script>
