<!-- if student -->
<div class="card text-center">
    <div class="card-body">
        <!-- if no foto -->
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle" style="height: 250px; width: 250px">

        <h2 class="text-center" style="margin-top: 15px">
            Nome Cognome
        </h2>

        <div class="row" style="margin-top: 60px">
            <div class="col-6 mx-auto">
                <div class="row">
                    <div class="col-4 my-auto mx-auto">
                        <b>Tirocini</b><br>
                        5
                    </div>
                    <div class="col-4 my-auto mx-auto">
                        <b>Tirocini</b><br>
                        5
                    </div>
                    <div class="col-4 my-auto mx-auto">
                        <b>Tirocini</b><br>
                        5
                    </div>
                </div>
            </div>
        </div>

        <form role="form" method="post" action="#" style="margin-top: 55px;">
            <div class="row">

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="nome" placeholder="nome" type="text" required/>
                    </div>
                </div>

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="cognome" placeholder="cognome" type="text" required/>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="email" placeholder="email" type="email" required/>
                    </div>
                </div>

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="username" placeholder="username" type="text" required/>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-5 mx-auto">
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <div class="form-group">
                                <input class="form-control" name="data_nasc" placeholder="data di nascita" onfocus="(this.type='date')" type="text" required/>
                            </div>
                        </div>

                        <div class="col-6 mx-auto">
                            <div class="form-group">
                                <input class="form-control" name="prov_nasc" placeholder="provincia di nascita" type="text" required/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="luogo_nasc" placeholder="luogo di nascita" type="text" required/>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-5 mx-auto">
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <div class="form-group">
                                <input class="form-control" name="cap" placeholder="cap di residenza" type="number" required/>
                            </div>
                        </div>

                        <div class="col-6 mx-auto">
                            <div class="form-group">
                                <input class="form-control" name="residenza_prov" placeholder="provincia di residenza" type="text" required/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="residenza_citta" placeholder="città di residenza" type="text" required/>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="telefono" placeholder="telefono" type="number" required/>
                    </div>
                </div>

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="corso" placeholder="corso" type="text" required/>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="handicap" placeholder="handicap" type="text" required/>
                    </div>
                </div>

                <div class="col-5 mx-auto">
                    <div class="form-group">
                        <input class="form-control" name="pw" placeholder="password" type="password" required/>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>