<head>
    <script src="js/addnewtutore.js"></script>
</head>
<h1>Ciao qui si registra lo studente</h1>
<div>
    <form method="post">
        <!-- Dati di Base -->
        <div>
            <input name="nome" placeholder="Nome" type="text" autofocus required/>
            <input name="cognome" placeholder="Cognome" type="text" required/>
            <input name="codice_fiscale" placeholder="Codice Fiscale" type="text" required/>
            <input name="data_nascita" placeholder="Data di Nascita (gg/mm/aaaa)" onfocus="(this.type='date')" onblur="(this.type='text')" type="text" required/>
            <input name="citta_nascita" placeholder="Citta di Nascita" type="text" required/>
            <input name="provincia_nascita" placeholder="Provincia di Nascita (Sigla)" maxlength="2" type="text"  required/>            
            <input name="telefono" placeholder="Telefono" type="text" required/>
            <input name="corso_laurea" placeholder="Corso di Laurea" type="text" required>
        </div>
        
        <!-- Dati di Residenza -->
        <div>
            <input name="citta_residenza" placeholder="Citta di Residenza" type="text" required/>
            <input name="provincia_residenza" placeholder="Pronvincia di Residenza (Sigla)" required/>
            <input name="cap_residenza" placeholder="CAP" type="text" required/>
        </div>
        
        <!-- Informazioni Aggiuntive -->
        <div>
            <select name="handicap" required>
		<option value="" disabled selected>Portatore di handicap</option>
                <option name="handicap" value="true">Si</option>
		<option name="handicap" value="false">No</option>
            </select>
        </div>
                
        <!-- Dati di Utenza -->
        <div>
            <input name="username" placeholder="Username" type="text" required/>
            <input name="pw" placeholder="Password" type="password" required/>
            <input name="email" placeholder="Email" type="email" required/>
        </div>
        
        <!-- Pulsante di Submit -->
        <div>
            <input name="submit" value="Registrati come studente" type="submit"/>
        </div>
    </form>
</div>