<h1>Ciao qui si richiede il tirocigno</h1>
<div>
    <form method="post" id="richiestaForm">
        <!-- Dati di Base -->
        <div class="row">
            <input class="eight columns" name="cfu" placeholder="CFU richiesti" type="number" autofocus required/>
        </div>
        <div class="row">
            <input class="six columns" name="ore_tirocinio" placeholder="Ore richieste" type="number" required/>        
        </div>
 
        <div>
            <select class="tutore_select" id="selectBox" onchange="change(value);" required>
		<option value="" disabled selected>Tutore universitario</option>
                <#list tutori as tutore>
                    <option name="tutore" value="${tutore.id}">${tutore.nome} ${tutore.cognome}</option> 
                </#list>
                <option name="tutore" value="new">Aggiungi un nuovo tutore universitario</option>
            </select>
        </div>
        
        <div id="new_tutore">
       
        </div>
        
        <!-- Pulsante di Submit -->
        <div>
            <input name="submit" value="Invia la tua candidatura" type="submit"/>
        </div>
    </form>
</div>
